<!DOCTYPE html>
<html>
<head>
  <title>Laptop Information</title>
  
</head>
<body>
  <div class="container">
    <h2 appCustom >Laptop Information</h2>
    <table>
      <tr>
        <th>Brand</th>
        <td>Dell</td>
      </tr>
      <tr>
        <th>Model</th>
        <td>XPS 13</td>
      </tr>
      <tr>
        <th>Processor</th>
        <td>Intel Core i7-1165G7</td>
      </tr>
      <tr>
        <th>RAM</th>
        <td>16GB</td>
      </tr>
      <tr>
        <th>Storage</th>
        <td>512GB SSD</td>
      </tr>
      <tr>
        <th>Graphics</th>
        <td>Intel Iris Xe Graphics</td>
      </tr>
      <tr>
        <th>Display</th>
        <td>13.3-inch FHD+</td>
      </tr>
      <tr>
        <th>Operating System</th>
        <td>Windows 10</td>
      </tr>
      <tr>
        <th>Battery Life</th>
        <td>Up to 10 hours</td>
      </tr>
    </table>
  </div>
</body>
</html>

