<!DOCTYPE html>
<html>
<head>
  <title>TV Information</title>

</head>
<body>
  <div class="container">
    <h2>TV Information</h2>
    <table>
      <tr>
        <th>Brand</th>
        <td>Sony</td>
      </tr>
      <tr>
        <th>Model</th>
        <td>Bravia X900H</td>
      </tr>
      <tr>
        <th>Screen Size</th>
        <td>55 inches</td>
      </tr>
      <tr>
        <th>Resolution</th>
        <td>4K Ultra HD</td>
      </tr>
      <tr>
        <th>Display Technology</th>
        <td>LED</td>
      </tr>
      <tr>
        <th>Smart TV</th>
        <td>Yes</td>
      </tr>
      <tr>
        <th>Operating System</th>
        <td>Android TV</td>
      </tr>
      <tr>
        <th>HDR Support</th>
        <td>Yes (Dolby Vision, HDR10, HLG)</td>
      </tr>
      <tr>
        <th>Refresh Rate</th>
        <td>120Hz</td>
      </tr>
      <tr>
        <th>Ports</th>
        <td>4 HDMI, 2 USB</td>
      </tr>
    </table>
  </div>
</body>
</html>

