<!DOCTYPE html>
<html>
<head>
  <title>Mobile Information</title>
</head>
<body>
  <div class="container">
    <h2>Mobile Information</h2>
    <ul>
      <li>
        <label>Brand:</label>
        <span>Samsung</span>
      </li>
      <li>
        <label>Model:</label>
        <span>Galaxy S21</span>
      </li>
      <li>
        <label>Color:</label>
        <span>Phantom Black</span>
      </li>
      <li>
        <label>Storage:</label>
        <span>128GB</span>
      </li>
      <li>
        <label>RAM:</label>
        <span>8GB</span>
      </li>
      <li>
        <label>Operating System:</label>
        <span>Android 11</span>
      </li>
      <li>
        <label>Screen Size:</label>
        <span>6.2 inches</span>
      </li>
      <li>
        <label>Battery Capacity:</label>
        <span>4000mAh</span>
      </li>
    </ul>
  </div>
</body>
</html>
